# Use this file to store secrets like usernames and passwords.
# Learn more at https://www.home-assistant.io/docs/configuration/secrets/

github_token: {{ homeassistant.github_token }}
location_home_latitude: {{ homeassistant.location_home.latitude }}
location_home_longitude: {{ homeassistant.location_home.longitude }}
external_url: {{ homeassistant.external_url }}
mqtt_password: {{ homeassistant.mqtt_password }}