{
  "annotations": {
    "list": [
      {
        "$$hashKey": "object:11",
        "builtIn": 1,
        "datasource": "-- Grafana --",
        "enable": true,
        "hide": true,
        "iconColor": "rgba(0, 211, 255, 1)",
        "name": "Annotations & Alerts",
        "type": "dashboard"
      }
    ]
  },
  "editable": true,
  "gnetId": null,
  "graphTooltip": 0,
  "links": [],
  "panels": [
    {
      "aliasColors": {},
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "homeautomation",
      "decimals": 1,
      "fieldConfig": {
        "defaults": {
          "custom": {},
          "links": []
        },
        "overrides": []
      },
      "fill": 0,
      "fillGradient": 0,
      "gridPos": {
        "h": 10,
        "w": 24,
        "x": 0,
        "y": 0
      },
      "hiddenSeries": false,
      "id": 2,
      "interval": "",
      "legend": {
        "alignAsTable": true,
        "avg": false,
        "current": true,
        "max": false,
        "min": false,
        "rightSide": false,
        "show": false,
        "total": false,
        "values": true
      },
      "lines": true,
      "linewidth": 1,
      "nullPointMode": "null",
      "options": {
        "alertThreshold": true
      },
      "percentage": false,
      "pluginVersion": "7.3.2",
      "pointradius": 2,
      "points": false,
      "renderer": "flot",
      "seriesOverrides": [],
      "spaceLength": 10,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "alias": "Temperatuur Shelly1PM Wasdroger",
          "groupBy": [
            {
              "params": [
                "$__interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "previous"
              ],
              "type": "fill"
            }
          ],
          "measurement": "Device_Information",
          "orderByTime": "ASC",
          "policy": "one_day",
          "refId": "A",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "temperature"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": [
            {
              "key": "device",
              "operator": "=",
              "value": "GF_LaundryRoom_TumbleDryer"
            }
          ]
        },
        {
          "alias": "Temperatuur Shelly1PM Wasmachine",
          "groupBy": [
            {
              "params": [
                "$__interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "previous"
              ],
              "type": "fill"
            }
          ],
          "measurement": "Device_Information",
          "orderByTime": "ASC",
          "policy": "one_day",
          "refId": "H",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "temperature"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": [
            {
              "key": "device",
              "operator": "=",
              "value": "GF_LaundryRoom_WashingMachine"
            }
          ]
        },
        {
          "alias": "Temperatuur ShellyPlugS Vaatwasser",
          "groupBy": [
            {
              "params": [
                "$__interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "previous"
              ],
              "type": "fill"
            }
          ],
          "measurement": "Device_Information",
          "orderByTime": "ASC",
          "policy": "one_day",
          "refId": "I",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "temperature"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": [
            {
              "key": "device",
              "operator": "=",
              "value": "GF_Kitchen_Dishwasher"
            }
          ]
        },
        {
          "alias": "Temperatuur ShellyDimmer2 Lamp 1",
          "groupBy": [
            {
              "params": [
                "$__interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "previous"
              ],
              "type": "fill"
            }
          ],
          "measurement": "Device_Information",
          "orderByTime": "ASC",
          "policy": "one_day",
          "refId": "B",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "temperature"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": [
            {
              "key": "device",
              "operator": "=",
              "value": "GF_LivingDining_Lamp1"
            }
          ]
        },
        {
          "alias": "Temperatuur ShellyDimmer2 Lamp 2",
          "groupBy": [
            {
              "params": [
                "$__interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "previous"
              ],
              "type": "fill"
            }
          ],
          "measurement": "Device_Information",
          "orderByTime": "ASC",
          "policy": "one_day",
          "refId": "G",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "temperature"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": [
            {
              "key": "device",
              "operator": "=",
              "value": "GF_LivingDining_Lamp2"
            }
          ]
        },
        {
          "alias": "Temperatuur ShellyDimmer2 Lamp 3",
          "groupBy": [
            {
              "params": [
                "$__interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "previous"
              ],
              "type": "fill"
            }
          ],
          "measurement": "Device_Information",
          "orderByTime": "ASC",
          "policy": "one_day",
          "refId": "C",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "temperature"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": [
            {
              "key": "device",
              "operator": "=",
              "value": "GF_LivingDining_Lamp3"
            }
          ]
        },
        {
          "alias": "Temperatuur ShellyDimmer Schilderijverlichting",
          "groupBy": [
            {
              "params": [
                "$__interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "previous"
              ],
              "type": "fill"
            }
          ],
          "measurement": "Device_Information",
          "orderByTime": "ASC",
          "policy": "one_day",
          "refId": "D",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "temperature"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": [
            {
              "key": "device",
              "operator": "=",
              "value": "GF_LivingDining_WallLight"
            }
          ]
        },
        {
          "alias": "Temperatuur Shelly2.5 Halverlichting",
          "groupBy": [
            {
              "params": [
                "$__interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "previous"
              ],
              "type": "fill"
            }
          ],
          "measurement": "Device_Information",
          "orderByTime": "ASC",
          "policy": "one_day",
          "refId": "F",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "temperature"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": [
            {
              "key": "device",
              "operator": "=",
              "value": "GF_Hallway_Lights"
            }
          ]
        },
        {
          "alias": "Temperatuur ShellyPlugS Televisie",
          "groupBy": [
            {
              "params": [
                "$__interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "previous"
              ],
              "type": "fill"
            }
          ],
          "measurement": "Device_Information",
          "orderByTime": "ASC",
          "policy": "one_day",
          "refId": "E",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "temperature"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": [
            {
              "key": "device",
              "operator": "=",
              "value": "FF_MasterBedroom_TV"
            }
          ]
        },
        {
          "alias": "Temperatuur ShellyPlugS TV",
          "groupBy": [
            {
              "params": [
                "$__interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "previous"
              ],
              "type": "fill"
            }
          ],
          "measurement": "Device_Information",
          "orderByTime": "ASC",
          "policy": "one_day",
          "refId": "J",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "temperature"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": [
            {
              "key": "device",
              "operator": "=",
              "value": "GF_LivingDining_TV"
            }
          ]
        },
        {
          "alias": "Temperatuur ShellyPlugS STB",
          "groupBy": [
            {
              "params": [
                "$__interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "previous"
              ],
              "type": "fill"
            }
          ],
          "measurement": "Device_Information",
          "orderByTime": "ASC",
          "policy": "one_day",
          "refId": "K",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "temperature"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": [
            {
              "key": "device",
              "operator": "=",
              "value": "GF_LivingDining_STB"
            }
          ]
        },
        {
          "alias": "Temperatuur ShellyPlugS Computer",
          "groupBy": [
            {
              "params": [
                "$__interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "previous"
              ],
              "type": "fill"
            }
          ],
          "measurement": "Device_Information",
          "orderByTime": "ASC",
          "policy": "one_day",
          "refId": "L",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "temperature"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": [
            {
              "key": "device",
              "operator": "=",
              "value": "FF_Workroom_Computer"
            }
          ]
        },
        {
          "alias": "Temperatuur Shelly2.5 Ventilatie",
          "groupBy": [
            {
              "params": [
                "$__interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "previous"
              ],
              "type": "fill"
            }
          ],
          "measurement": "Device_Information",
          "orderByTime": "ASC",
          "policy": "one_day",
          "refId": "M",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "temperature"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": [
            {
              "key": "device",
              "operator": "=",
              "value": "AT_StorageRoom_Ventilation"
            }
          ]
        },
        {
          "alias": "Temperatuur ShellyPlugS Koelkast Groot",
          "groupBy": [
            {
              "params": [
                "$__interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "previous"
              ],
              "type": "fill"
            }
          ],
          "measurement": "Device_Information",
          "orderByTime": "ASC",
          "policy": "one_day",
          "refId": "N",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "temperature"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": [
            {
              "key": "device",
              "operator": "=",
              "value": "GF_Kitchen_RefrigeratorLarge"
            }
          ]
        },
        {
          "alias": "Temperatuur ShellyPlugS Koelkast Klein",
          "groupBy": [
            {
              "params": [
                "$__interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "previous"
              ],
              "type": "fill"
            }
          ],
          "measurement": "Device_Information",
          "orderByTime": "ASC",
          "policy": "one_day",
          "refId": "O",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "temperature"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": [
            {
              "key": "device",
              "operator": "=",
              "value": "GF_Kitchen_RefrigeratorSmall"
            }
          ]
        },
        {
          "alias": "Temperatuur ShellyDimmer Slaapkamerverlichting",
          "groupBy": [
            {
              "params": [
                "$__interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "previous"
              ],
              "type": "fill"
            }
          ],
          "measurement": "Device_Information",
          "orderByTime": "ASC",
          "policy": "one_day",
          "refId": "P",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "temperature"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": [
            {
              "key": "device",
              "operator": "=",
              "value": "FF_MasterBedroom_Light"
            }
          ]
        },
        {
          "alias": "Temperatuur ShellyDimmer2 Vloerlamp",
          "groupBy": [
            {
              "params": [
                "$__interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "previous"
              ],
              "type": "fill"
            }
          ],
          "measurement": "Device_Information",
          "orderByTime": "ASC",
          "policy": "one_day",
          "refId": "Q",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "temperature"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": [
            {
              "key": "device",
              "operator": "=",
              "value": "GF_LivingDining_StandingLight"
            }
          ]
        },
        {
          "alias": "Temperatuur ShellyPlugS Kerstverlichting",
          "groupBy": [
            {
              "params": [
                "$__interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "previous"
              ],
              "type": "fill"
            }
          ],
          "measurement": "Device_Information",
          "orderByTime": "ASC",
          "policy": "one_day",
          "refId": "R",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "temperature"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": [
            {
              "key": "device",
              "operator": "=",
              "value": "GF_Garage_StringLights"
            }
          ]
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeRegions": [],
      "timeShift": null,
      "title": "Shelly temperaturen",
      "tooltip": {
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "format": "celsius",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        },
        {
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      }
    },
    {
      "aliasColors": {},
      "bars": false,
      "dashLength": 10,
      "dashes": false,
      "datasource": "homeautomation",
      "decimals": 1,
      "fieldConfig": {
        "defaults": {
          "custom": {},
          "links": []
        },
        "overrides": []
      },
      "fill": 0,
      "fillGradient": 0,
      "gridPos": {
        "h": 9,
        "w": 24,
        "x": 0,
        "y": 10
      },
      "hiddenSeries": false,
      "id": 3,
      "interval": "",
      "legend": {
        "alignAsTable": true,
        "avg": false,
        "current": true,
        "hideEmpty": false,
        "max": false,
        "min": false,
        "rightSide": false,
        "show": false,
        "total": false,
        "values": true
      },
      "lines": true,
      "linewidth": 1,
      "nullPointMode": "null",
      "options": {
        "alertThreshold": true
      },
      "percentage": false,
      "pluginVersion": "7.3.2",
      "pointradius": 2,
      "points": false,
      "renderer": "flot",
      "seriesOverrides": [],
      "spaceLength": 10,
      "stack": false,
      "steppedLine": false,
      "targets": [
        {
          "alias": "Signaalsterkte ShellyPlugS TV Slaapkamer",
          "groupBy": [
            {
              "params": [
                "$__interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "previous"
              ],
              "type": "fill"
            }
          ],
          "measurement": "Device_Information",
          "orderByTime": "ASC",
          "policy": "one_day",
          "refId": "A",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "signalstrength"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": [
            {
              "key": "device",
              "operator": "=",
              "value": "FF_MasterBedroom_TV"
            }
          ]
        },
        {
          "alias": "Signaalsterkte Shelly1PM Wasmachine",
          "groupBy": [
            {
              "params": [
                "$__interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "previous"
              ],
              "type": "fill"
            }
          ],
          "measurement": "Device_Information",
          "orderByTime": "ASC",
          "policy": "one_day",
          "refId": "B",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "signalstrength"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": [
            {
              "key": "device",
              "operator": "=",
              "value": "GF_LaundryRoom_WashingMachine"
            }
          ]
        },
        {
          "alias": "Signaalsterkte Shelly1PM Wasdroger",
          "groupBy": [
            {
              "params": [
                "$__interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "previous"
              ],
              "type": "fill"
            }
          ],
          "measurement": "Device_Information",
          "orderByTime": "ASC",
          "policy": "one_day",
          "refId": "C",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "signalstrength"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": [
            {
              "key": "device",
              "operator": "=",
              "value": "GF_LaundryRoom_TumbleDryer"
            }
          ]
        },
        {
          "alias": "Signaalsterkte ShellyPlugS Vaatwasser",
          "groupBy": [
            {
              "params": [
                "$__interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "previous"
              ],
              "type": "fill"
            }
          ],
          "measurement": "Device_Information",
          "orderByTime": "ASC",
          "policy": "one_day",
          "refId": "D",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "signalstrength"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": [
            {
              "key": "device",
              "operator": "=",
              "value": "GF_Kitchen_Dishwasher"
            }
          ]
        },
        {
          "alias": "Signaalsterkte ShellyPlugS Setopbox",
          "groupBy": [
            {
              "params": [
                "$__interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "previous"
              ],
              "type": "fill"
            }
          ],
          "measurement": "Device_Information",
          "orderByTime": "ASC",
          "policy": "one_day",
          "refId": "E",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "signalstrength"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": [
            {
              "key": "device",
              "operator": "=",
              "value": "GF_LivingDining_STB"
            }
          ]
        },
        {
          "alias": "Signaalsterkte ShellyPlugS Televisie",
          "groupBy": [
            {
              "params": [
                "$__interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "previous"
              ],
              "type": "fill"
            }
          ],
          "measurement": "Device_Information",
          "orderByTime": "ASC",
          "policy": "one_day",
          "refId": "F",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "signalstrength"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": [
            {
              "key": "device",
              "operator": "=",
              "value": "GF_LivingDining_TV"
            }
          ]
        },
        {
          "alias": "Signaalsterkte ShellyPlugS Televisie",
          "groupBy": [
            {
              "params": [
                "$__interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "previous"
              ],
              "type": "fill"
            }
          ],
          "measurement": "Device_Information",
          "orderByTime": "ASC",
          "policy": "one_day",
          "refId": "G",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "signalstrength"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": [
            {
              "key": "device",
              "operator": "=",
              "value": "FF_MasterBedroom_TV"
            }
          ]
        },
        {
          "alias": "Signaalsterkte ShellyDimmer Schilderijverlichting",
          "groupBy": [
            {
              "params": [
                "$__interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "previous"
              ],
              "type": "fill"
            }
          ],
          "measurement": "Device_Information",
          "orderByTime": "ASC",
          "policy": "one_day",
          "refId": "H",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "signalstrength"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": [
            {
              "key": "device",
              "operator": "=",
              "value": "GF_LivingDining_WallLight"
            }
          ]
        },
        {
          "alias": "Signaalsterkte ShellyDimmer2 Sfeerlamp 1",
          "groupBy": [
            {
              "params": [
                "$__interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "previous"
              ],
              "type": "fill"
            }
          ],
          "measurement": "Device_Information",
          "orderByTime": "ASC",
          "policy": "one_day",
          "refId": "I",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "signalstrength"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": [
            {
              "key": "device",
              "operator": "=",
              "value": "GF_LivingDining_Lamp1"
            }
          ]
        },
        {
          "alias": "Signaalsterkte ShellyDimmer2 Sfeerlamp 2",
          "groupBy": [
            {
              "params": [
                "$__interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "previous"
              ],
              "type": "fill"
            }
          ],
          "measurement": "Device_Information",
          "orderByTime": "ASC",
          "policy": "one_day",
          "refId": "J",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "signalstrength"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": [
            {
              "key": "device",
              "operator": "=",
              "value": "GF_LivingDining_Lamp2"
            }
          ]
        },
        {
          "alias": "Signaalsterkte ShellyDimmer2 Sfeerlamp 3",
          "groupBy": [
            {
              "params": [
                "$__interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "previous"
              ],
              "type": "fill"
            }
          ],
          "measurement": "Device_Information",
          "orderByTime": "ASC",
          "policy": "one_day",
          "refId": "K",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "signalstrength"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": [
            {
              "key": "device",
              "operator": "=",
              "value": "GF_LivingDining_Lamp3"
            }
          ]
        },
        {
          "alias": "Signaalsterkte Shelly2.5 Halverlichting",
          "groupBy": [
            {
              "params": [
                "$__interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "previous"
              ],
              "type": "fill"
            }
          ],
          "measurement": "Device_Information",
          "orderByTime": "ASC",
          "policy": "one_day",
          "refId": "L",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "signalstrength"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": [
            {
              "key": "device",
              "operator": "=",
              "value": "GF_Hallway_Lights"
            }
          ]
        },
        {
          "alias": "Signaalsterkte Shelly2.5 Ventilatie",
          "groupBy": [
            {
              "params": [
                "$__interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "previous"
              ],
              "type": "fill"
            }
          ],
          "measurement": "Device_Information",
          "orderByTime": "ASC",
          "policy": "one_day",
          "refId": "M",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "signalstrength"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": [
            {
              "key": "device",
              "operator": "=",
              "value": "AT_StorageRoom_Ventilation"
            }
          ]
        },
        {
          "alias": "Signaalsterkte ShellyPlugS Computer",
          "groupBy": [
            {
              "params": [
                "$__interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "previous"
              ],
              "type": "fill"
            }
          ],
          "measurement": "Device_Information",
          "orderByTime": "ASC",
          "policy": "one_day",
          "refId": "N",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "signalstrength"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": [
            {
              "key": "device",
              "operator": "=",
              "value": "FF_Workroom_Computer"
            }
          ]
        },
        {
          "alias": "Signaalsterkte ShellyPlugS Koelkast Groot",
          "groupBy": [
            {
              "params": [
                "$__interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "previous"
              ],
              "type": "fill"
            }
          ],
          "measurement": "Device_Information",
          "orderByTime": "ASC",
          "policy": "one_day",
          "refId": "O",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "signalstrength"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": [
            {
              "key": "device",
              "operator": "=",
              "value": "GF_Kitchen_RefrigeratorLarge"
            }
          ]
        },
        {
          "alias": "Signaalsterkte ShellyPlugS Koelkast Klein",
          "groupBy": [
            {
              "params": [
                "$__interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "previous"
              ],
              "type": "fill"
            }
          ],
          "measurement": "Device_Information",
          "orderByTime": "ASC",
          "policy": "one_day",
          "refId": "P",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "signalstrength"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": [
            {
              "key": "device",
              "operator": "=",
              "value": "GF_Kitchen_RefrigeratorSmall"
            }
          ]
        },
        {
          "alias": "Signaalsterkte ShellyPlug Zwembad",
          "groupBy": [
            {
              "params": [
                "$__interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "previous"
              ],
              "type": "fill"
            }
          ],
          "measurement": "Device_Information",
          "orderByTime": "ASC",
          "policy": "one_day",
          "refId": "Q",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "signalstrength"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": [
            {
              "key": "device",
              "operator": "=",
              "value": "GF_LaundryRoom_Swimmingpool"
            }
          ]
        },
        {
          "alias": "Signaalsterkte ShellyDimmer Slaapkamerverlichting",
          "groupBy": [
            {
              "params": [
                "$__interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "previous"
              ],
              "type": "fill"
            }
          ],
          "measurement": "Device_Information",
          "orderByTime": "ASC",
          "policy": "one_day",
          "refId": "R",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "signalstrength"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": [
            {
              "key": "device",
              "operator": "=",
              "value": "FF_MasterBedroom_Light"
            }
          ]
        },
        {
          "alias": "Signaalsterkte ShellyDimmer2 Vloerlamp",
          "groupBy": [
            {
              "params": [
                "$__interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "previous"
              ],
              "type": "fill"
            }
          ],
          "measurement": "Device_Information",
          "orderByTime": "ASC",
          "policy": "one_day",
          "refId": "S",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "signalstrength"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": [
            {
              "key": "device",
              "operator": "=",
              "value": "GF_LivingDining_StandingLight"
            }
          ]
        },
        {
          "alias": "Signaalsterkte ShellyPlugS Kerstverlichting",
          "groupBy": [
            {
              "params": [
                "$__interval"
              ],
              "type": "time"
            },
            {
              "params": [
                "previous"
              ],
              "type": "fill"
            }
          ],
          "measurement": "Device_Information",
          "orderByTime": "ASC",
          "policy": "one_day",
          "refId": "T",
          "resultFormat": "time_series",
          "select": [
            [
              {
                "params": [
                  "signalstrength"
                ],
                "type": "field"
              },
              {
                "params": [],
                "type": "mean"
              }
            ]
          ],
          "tags": [
            {
              "key": "device",
              "operator": "=",
              "value": "GF_Garage_StringLights"
            }
          ]
        }
      ],
      "thresholds": [],
      "timeFrom": null,
      "timeRegions": [],
      "timeShift": null,
      "title": "Shelly WIFI signaalsterkte",
      "tooltip": {
        "shared": true,
        "sort": 0,
        "value_type": "individual"
      },
      "type": "graph",
      "xaxis": {
        "buckets": null,
        "mode": "time",
        "name": null,
        "show": true,
        "values": []
      },
      "yaxes": [
        {
          "format": "dB",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": true
        },
        {
          "format": "short",
          "label": null,
          "logBase": 1,
          "max": null,
          "min": null,
          "show": false
        }
      ],
      "yaxis": {
        "align": false,
        "alignLevel": null
      }
    }
  ],
  "refresh": "30s",
  "schemaVersion": 26,
  "style": "dark",
  "tags": [],
  "templating": {
    "list": []
  },
  "time": {
    "from": "now-6h",
    "to": "now"
  },
  "timepicker": {},
  "timezone": "",
  "title": "Shelly Monitoring",
  "uid": "ktZuYeEWk",
  "version": 4
}