notifiers:
  - name: E-mail notification
    type: email
    uid: mailnotifier
    org_id: 1
    is_default: false
    send_reminder: false
    disable_resolve_message: false
    settings:
      addresses: "{{ grafana.smtp.user }}"
      